<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
        <title>The ONE在线钢琴陪练</title>
    </head>
    <body>
        <script>
            document.documentElement.style.fontSize = window.innerWidth / 7.5 + 'px';
        </script>
        <!--wx.config-->
        <input type="hidden" id="appid" value="12345">
        <input type="hidden" id="timestamp" value="12345">
        <input type="hidden" id="nonceStr" value="12345">
        <input type="hidden" id="signature" value="12345">
        <!--wx.pay-->
        <input type="hidden" id="pay-timestamp" value="12345">
        <input type="hidden" id="pay-nonceStr" value="12345">
        <input type="hidden" id="pay-package" value="12345">
        <input type="hidden" id="pay-signType" value="12345">
        <input type="hidden" id="pay-paySign" value="12345">
        <input type="hidden" id="pay-successPage" value="12345">
        <div class="g-bd">
           <div class="buy-confirm">
               <h1 class="title">
                   订单确认
               </h1>
               <div class="buy-main">
                  <div class="buy-icon">
                      <i class="icon1"></i>
                  </div>
                  <div class="buy-info">
                    <h2 class="buy-title">考级突击套餐（50分钟/次）</h2>
                     <div class="buy-price">
                         <p class="point">¥1499</p>
                         <div class="discount-con">
                            <span class="dis-price">¥1599</span><span class="dis-tag"></span>
                         </div>
                     </div>
                     <div class="info">
                         <p>陪练时长：<span>25分钟</span></p>
                         <p>陪练次数：<span>20次</span></p>
                         <p>陪练老师：<span>不固定</span></p>
                     </div>
                  </div>
               </div>
               <div class="btn-con">
                   <button class="btn">已确认以上信息，立即支付</button>
                   <p class="m-info">点击“确认支付”按钮，即表示您阅读并同意<a href="#">《那个啥oo协议》</a></p>
               </div>
           </div>
        </div>
    </body>
</html>