<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <title>The ONE在线钢琴陪练</title>
    </head>
    <body style="background-color: #f4f4f7;">
        <script>
            document.documentElement.style.fontSize = window.innerWidth / 7.5 + 'px';
        </script>
        <div class="grey-bd">
            <div class="g-buy-banner"></div>
            <div class="m-buysec m-card">
                <h2 class="title">
                    考级突击套餐（50分钟/次）<span class="m-info">适用于1-3级或5-6岁琴童</span>
                </h2>
                <div class="m-buylist primary">
                    <div class="times icon1"></div>
                    <div class="price">
                        <div class="pac-name">
                            16次套餐包 <span>约100元/次</span>
                        </div>
                        <div class="now-price">
                            <span class="point">¥1499</span>
                            <div class="discount-con">
                                <span class="dis-price">¥1599</span><span class="dis-tag"></span>
                            </div>
                        </div>
                    </div>
                    <a class="btn small">购买</a>
                </div>
            </div>
            <div class="m-buysec m-card">
                <h2 class="title">
                    日常陪练套餐（25分钟/次） <span class="m-info">适用于3级或7岁以上琴童</span>
                </h2>
                <div class="m-buylist primary">
                    <div class="times icon2"></div>
                    <div class="price">
                        <div class="pac-name">
                            25次套餐包 <span>约51元/次</span>
                        </div>
                        <div class="now-price">
                            <span class="point">¥1299</span>
                        </div>
                    </div>
                    <a class="btn small">购买</a>
                </div>
                <div class="m-buylist primary">
                    <div class="times icon3"></div>
                    <div class="price">
                        <div class="pac-name">
                            60次套餐包 <span>约48元/次</span>
                        </div>
                        <div class="now-price">
                            <span class="point">¥2880</span>
                        </div>
                    </div>
                    <a class="btn small">购买</a>
                </div>
                <div class="m-buylist mediate">
                    <div class="times icon4"></div>
                    <div class="price">
                        <div class="pac-name">
                            90次套餐包 <span>约42元/次</span>
                        </div>
                        <div class="now-price">
                            <span class="point">¥3799</span>
                        </div>
                    </div>
                    <a class="btn small">购买</a>
                </div>
            </div>
            <div class="m-buysec m-card">
                <h2 class="title">
                    日常陪练套餐（45分钟/次） <span class="m-info">适用于考级、比赛、演出前联系</span>
                </h2>
                <div class="m-buylist mediate">
                    <div class="times icon5"></div>
                    <div class="price">
                        <div class="pac-name">
                            25次套餐包 <span>约81元/次</span>
                        </div>
                        <div class="now-price">
                            <span class="point">¥2029</span>
                        </div>
                    </div>
                    <a class="btn small">购买</a>
                </div>
                <div class="m-buylist mediate">
                    <div class="times icon6"></div>
                    <div class="price">
                        <div class="pac-name">
                            50次套餐包 <span>约75元/次</span>
                        </div>
                        <div class="now-price">
                            <span class="point">¥3750</span>
                        </div>
                    </div>
                    <a class="btn small">购买</a>
                </div>
                <div class="m-buylist advance">
                    <div class="times icon7"></div>
                    <div class="price">
                        <div class="pac-name">
                            80次套餐包 <span>约68元/次</span>
                        </div>
                        <div class="now-price">
                            <span class="point">¥5440</span>
                        </div>
                    </div>
                    <a class="btn small">购买</a>
                </div>
            </div>
        </div>
    </body>
</html>