<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,maximum-scale=1,minimum-scale=1">
        <title>The ONE在线钢琴陪练</title>
    </head>
    <body>
        <script>
            document.documentElement.style.fontSize = window.innerWidth / 7.5 + 'px';
        </script>
        <div class="g-banner">
            <img src="../img/banner.jpg">
        </div>
        <div class="g-bd">
            <section class="m-sec">
                <div class="m-form">
                    <div class="input-con">
                        <input type="text" id="name" placeholder="请输入孩子姓名">
                    </div>
                    <div class="input-con">
                        <input type="text" id="mobile" placeholder="请输入您的手机号码">
                    </div>
                    <div class="input-con f-inline">
                        <div class="vcode">
                            <input type="text" id="code" placeholder="短信验证码">
                        </div>
                        <div class="vcode-btn">
                            <button class="btn" id="sendVcode">获取验证码</button>
                        </div>
                    </div>
                    <div class="input-con">
                        <button class="btn big" id="confirm">免费领取体验课</button>
                        <div class="m-info explain">
                            6岁以上，具备基本识谱能力和弹奏技巧的用户
                        </div>
                    </div>
                </div>
            </section>
            <section class="m-sec">
                <div class="sec-intro">
                    及时辅导纠错，让孩子在家练琴精力集中、事半功倍
                </div>
                <div class="sec-title">
                    <h2>课程特色</h2>
                </div>
                <div class="character-content f-inline">
                    <div class="content-left">
                        <img src="../img/point1.jpg">
                    </div>
                    <div class="content-right">
                        <h3>院校名师</h3>
                        <p>全国著名音乐学院老师一对一辅导</p>
                    </div>
                </div>
                <div class="character-content f-inline">
                    <div class="content-left">
                        <img src="../img/point2.jpg">
                    </div>
                    <div class="content-right">
                        <h3>考级必备</h3>
                        <p>科学制定曲目练习步骤，合理规划练琴时间</p>
                    </div>
                </div>
                <div class="character-content f-inline">
                    <div class="content-left">
                        <img src="../img/point3.jpg">
                    </div>
                    <div class="content-right">
                        <h3>流畅体验</h3>
                        <p>高清可视化在线，及时纠错和提醒</p>
                    </div>
                </div>
                <div class="character-content f-inline">
                    <div class="content-left">
                        <img src="../img/point4.jpg">
                    </div>
                    <div class="content-right">
                        <h3>随时预约</h3>
                        <p>24小时随时约，练琴无忧</p>
                    </div>
                </div>
            </section>
            <section class="m-sec">
                <div class="sec-title">
                    <h2>孩子家长都说好</h2>
                </div>
                <div class="good-content">
                    <div class="good-banner">
                        <img src="../img/good1.jpg">
                    </div>
                    <div class="good-talk">
                        <p>毕烨妈妈：</p>
                        <p>老师讲解很细致，把弹得不对的每个音符都抠出来了！还讲解了需要处理的节奏、强弱、对比，这是我们自己在家练习根本达不到的专业啊~更关键的是，老师亲自示范，收获良多！</p>
                        <p>熊猫陪练赞赞赞！</p>
                    </div>
                </div>
                <div class="good-content">
                    <div class="good-banner">
                        <img src="../img/good2.jpg">
                    </div>
                    <div class="good-talk">
                        <p>高天留云爸爸：</p>
                        <p>儿子非常喜欢姜老师，这次陪练接触下来，真的非常专业，非常有耐心，非常好！要给熊猫陪练一万个赞！现在上完陪练，儿子练琴根本停不下来！</p>
                    </div>
                </div>
                <div class="good-content">
                    <div class="good-banner">
                        <img src="../img/good3.jpg">
                    </div>
                    <div class="good-talk">
                        <p>博涵妈妈：</p>
                        <p>小博同学对新推出的陪练课进行了尝试，老师讲解的很细致，课后老师会及时对上课中发现的问题归纳总结，写好后发给小博同学，在老师的陪练下小博同学的钢琴学习有了新的进步。爱音乐，爱THE ONE，谢谢老师。</p>
                    </div>
                </div>
                <div class="good-content">
                    <div class="good-banner">
                        <img src="../img/good4.jpg">
                    </div>
                    <div class="good-talk">
                        <p>妙可妈妈：</p>
                        <p>妙可上的陪练课感觉很好，每一位老师课上指导的都非常认真，课后还给予详细的分析和练琴方法，非常感谢各位老师对妙可的帮助，这样专业的团队我们很喜欢也很信任。</p>
                    </div>
                </div>
                <div class="sec-intro">
                    熊猫陪练，The ONE智能音乐教育旗下陪练品牌
                </div>
            </section>
            <section class="m-sec">
                <div class="sec-title">
                    <h2>专家推荐 全球领先的智能音乐教育品牌</h2>
                </div>
                <div class="expert-row f-inline">
                    <div class="expert-content">
                        <img src="../img/people1.jpg">
                        <h4>周海宏教授</h4>
                        <p>中央音乐学院副院长</p>
                        <p>中国音乐心理学研究第一人</p>
                    </div>
                    <div class="expert-content">
                        <img src="../img/people2.jpg">
                        <h4>王戈</h4>
                        <p>斯坦福音乐系教授</p>
                        <p>“Smule”创始人</p>
                    </div>
                    <div class="expert-content">
                        <img src="../img/people3.jpg">
                        <h4>赵伟竣教授</h4>
                        <p>台湾奥尔夫教育协会理事</p>
                        <p>The ONE课程主编</p>
                    </div>
                </div>
                <div class="expert-row f-inline">
                    <div class="expert-content">
                        <img src="../img/people4.jpg">
                        <h4>Stevie Wonder</h4>
                        <p>美国国宝级歌手</p>
                    </div>
                    <div class="expert-content">
                        <img src="../img/people6.jpg">
                        <h4>宋柯</h4>
                        <p>著名音乐人</p>
                    </div>
                    <div class="expert-content">
                        <img src="../img/people5.jpg">
                        <h4>No Doubt乐队</h4>
                        <p>美国格莱美奖获得者</p>
                    </div>
                </div>
            </section>
            <section class="m-sec">
                <div class="sec-title">
                    <h2>荣誉奖项</h2>
                </div>
                <div class="prize-content">
                    <p>全球最大消费电子展CES<span class="tip-new">“创新大奖”</span></p>
                    <p>美国乐器协会NAMM show<span>“最佳教育产品奖”</span></p>
                    <p>全美亲子协会 NAPPA <span>“年度产品奖”</span></p>
                    <p>“互联网+”典型 CCTV头条报道</p>
                    <p>苹果 MFi 认证专业钢琴</p>
                    <p>郎朗基金会 全球巡演指定智能钢琴</p>
                </div>
            </section>
            <div class="getNow">
                <p>免费领取体验课</p>
                <button class="btn" id="goTop">领取体验课</button>
            </div>
        </div>
    </body>
</html>