<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
        <title>The ONE在线钢琴陪练</title>
    </head>
    <body >
        <script>
            document.documentElement.style.fontSize = window.innerWidth / 7.5 + 'px';
        </script>
       <div class="grey-bd">
         <div class="m-card">
         <h3 class="title">
           可用课程
         </h3>
         <div class="s-list">
           <div class="course">
             45分钟
           </div>
           <div class="count">
             剩余 <span class="point">145</span>
           </div>
           
         </div>
         <div class="s-list">
           <div class="course">
             45分钟课程
           </div>
           <div class="count">
             剩余 <span class="point">14</span>
           </div>
           
         </div>
         <div class="s-list">
           <div class="course">
             45分钟课程
           </div>
           <div class="count">
             剩余 <span class="point">144</span>
           </div>
           
         </div>
         <div class="s-list">
           <div class="course">
             45分钟课程一般长
           </div>
           <div class="count">
             剩余 <span class="point">14</span>
           </div>
           
         </div>
         <div class="s-list">
           <div class="course">
             45分钟课程特
           </div>
           <div class="count">
             剩余 <span class="point">11234</span>
           </div>
         </div>
       </div>
       <div class="m-card">
         <h3 class="title">
           预约中的课程
         </h3>
         <a href="#" class="l-list">
           <div class="class-name">
             45分钟课程
           </div>
           <div class="class-info">
             <div class="l-info">
               <i class="iconfont icon-icon02 warn"></i> 
               2017‐3‐12 周日  14:00 ~ 14:45
             </div>
             <div class="l-info">
               <i class="iconfont icon-laoshi warn"></i> 
               嘻嘻老师
             </div>
           </div>
         </a>
         <a href="#" class="l-list">
           <div class="class-name">
             45分钟课程
           </div>
           <div class="class-info">
             <div class="l-info">
               <i class="iconfont icon-icon02 warn"></i> 
               2017‐3‐12 周日 14:00 ~ 14:4
             </div>
             <div class="l-info">
               <i class="iconfont icon-laoshi warn"></i> 
               程老师
             </div>
           </div>
         </a>
       </div>
       <div class="m-card card-final">
         <h3 class="title">
           已完成的课程
         </h3>
         <a href="#" class="l-list">
           <div class="class-name">
             45分钟课程
           </div>
           <div class="class-info">
             <div class="l-info">
               <i class="iconfont icon-icon02 warn"></i> 
               2017‐3‐12 周日  14:00 ~ 14:45
             </div>
             <div class="l-info">
               <i class="iconfont icon-laoshi warn"></i> 
               程老师
             </div>
           </div>
         </a>
         <a href="#" class="l-list">
           <div class="class-name">
             45分钟课程
           </div>
           <div class="class-info">
             <div class="l-info">
               <i class="iconfont icon-icon02 warn"></i> 
               2017‐3‐12 周日  14:00 ~ 14:45
             </div>
             <div class="l-info">
               <i class="iconfont icon-laoshi warn"></i> 
               程老师
             </div>
           </div>
         </a>
         <a href="#" class="l-list">
           <div class="class-name">
             45分钟课程
           </div>
           <div class="class-info">
             <div class="l-info">
               <i class="iconfont icon-icon02 warn"></i> 
               2017‐3‐12 周日  14:00 ~ 14:45
             </div>
             <div class="l-info">
               <i class="iconfont icon-laoshi warn"></i> 
               程老师
             </div>
           </div>
         </a>
         <a href="#" class="l-list">
           <div class="class-name">
             45分钟课程
           </div>
           <div class="class-info">
             <div class="l-info">
               <i class="iconfont icon-icon02 warn"></i> 
               2017‐3‐12 周日  14:00 ~ 14:45
             </div>
             <div class="l-info">
               <i class="iconfont icon-laoshi warn"></i> 
               程老师
             </div>
           </div>
         </a>
         <a href="#" class="l-list">
           <div class="class-name">
             45分钟课程
           </div>
           <div class="class-info">
             <div class="l-info">
               <i class="iconfont icon-icon02 warn"></i> 
               2017‐3‐12 周日  14:00 ~ 14:45
             </div>
             <div class="l-info">
               <i class="iconfont icon-laoshi warn"></i> 
               程老师
             </div>
           </div>
         </a>
         <a href="#" class="l-list">
           <div class="class-name">
             45分钟课程
           </div>
           <div class="class-info">
             <div class="l-info">
               <i class="iconfont icon-icon02 warn"></i> 
               2017‐3‐12 周日  14:00 ~ 14:45
             </div>
             <div class="l-info">
               <i class="iconfont icon-laoshi warn"></i> 
               程老师
             </div>
           </div>
         </a>
         <a href="#" class="l-list">
           <div class="class-name">
             45分钟课程
           </div>
           <div class="class-info">
             <div class="l-info">
               <i class="iconfont icon-icon02 warn"></i> 
               2017‐3‐12 周日  14:00 ~ 14:45
             </div>
             <div class="l-info">
               <i class="iconfont icon-laoshi warn"></i> 
               程老师
             </div>
           </div>
         </a>
         <a href="#" class="l-list">
           <div class="class-name">
             45分钟课程
           </div>
           <div class="class-info">
             <div class="l-info">
               <i class="iconfont icon-icon02 warn"></i> 
               2017‐3‐12 周日  14:00 ~ 14:45
             </div>
             <div class="l-info">
               <i class="iconfont icon-laoshi warn"></i> 
               程老师
             </div>
           </div>
         </a>
         <a href="#" class="l-list">
           <div class="class-name">
             45分钟课程
           </div>
           <div class="class-info">
             <div class="l-info">
               <i class="iconfont icon-icon02 warn"></i> 
               2017‐3‐12 周日  14:00 ~ 14:45
             </div>
             <div class="l-info">
               <i class="iconfont icon-laoshi warn"></i> 
               程老师
             </div>
           </div>
         </a>
         <a href="#" class="l-list">
           <div class="class-name">
             45分钟课程
           </div>
           <div class="class-info">
             <div class="l-info">
               <i class="iconfont icon-icon02 warn"></i> 
               2017‐3‐12 周日  14:00 ~ 14:45
             </div>
             <div class="l-info">
               <i class="iconfont icon-laoshi warn"></i> 
               程老师
             </div>
           </div>
         </a>
         <a href="#" class="l-list">
           <div class="class-name">
             45分钟课程
           </div>
           <div class="class-info">
             <div class="l-info">
               <i class="iconfont icon-icon02 warn"></i> 
               2017‐3‐12 周日  14:00 ~ 14:45
             </div>
             <div class="l-info">
               <i class="iconfont icon-laoshi warn"></i> 
               程老师
             </div>
           </div>
         </a>
         <a href="#" class="l-list">
           <div class="class-name">
             45分钟课程
           </div>
           <div class="class-info">
             <div class="l-info">
               <i class="iconfont icon-icon02 warn"></i> 
               2017‐3‐12 周日  14:00 ~ 14:45
             </div>
             <div class="l-info">
               <i class="iconfont icon-laoshi warn"></i> 
               程老师
             </div>
           </div>
         </a>
         <a href="#" class="l-list">
           <div class="class-name">
             45分钟课程
           </div>
           <div class="class-info">
             <div class="l-info">
               <i class="iconfont icon-icon02 warn"></i> 
               2017‐3‐12 周日  14:00 ~ 14:45
             </div>
             <div class="l-info">
               <i class="iconfont icon-laoshi warn"></i> 
               程老师
             </div>
           </div>
         </a>
         <a href="#" class="l-list">
           <div class="class-name">
             45分钟课程
           </div>
           <div class="class-info">
             <div class="l-info">
               <i class="iconfont icon-icon02 warn"></i> 
               2017‐3‐12 周日  14:00 ~ 14:45
             </div>
             <div class="l-info">
               <i class="iconfont icon-laoshi warn"></i> 
               程老师
             </div>
           </div>
         </a>
         <a href="#" class="l-list">
           <div class="class-name">
             45分钟课程
           </div>
           <div class="class-info">
             <div class="l-info">
               <i class="iconfont icon-icon02 warn"></i> 
               2017‐3‐12 周日  14:00 ~ 14:45
             </div>
             <div class="l-info">
               <i class="iconfont icon-laoshi warn"></i> 
               程老师
             </div>
           </div>
         </a>
         <a href="#" class="l-list">
           <div class="class-name">
             45分钟课程
           </div>
           <div class="class-info">
             <div class="l-info">
               <i class="iconfont icon-icon02 warn"></i> 
               2017‐3‐12 周日  14:00 ~ 14:45
             </div>
             <div class="l-info">
               <i class="iconfont icon-laoshi warn"></i> 
               程老师
             </div>
           </div>
         </a>
         <a href="#" class="l-list">
           <div class="class-name">
             45分钟课程
           </div>
           <div class="class-info">
             <div class="l-info">
               <i class="iconfont icon-icon02 warn"></i> 
               0000‐0‐00 周日  00:00 ~ 00:00
             </div>
             <div class="l-info">
               <i class="iconfont icon-laoshi warn"></i> 
               程老师
             </div>
           </div>
         </a>
         <a href="#" class="l-list">
           <div class="class-name">
             更多课程
           </div>
         </a>
       </div>
       </div>
       <div class="btn-con btn-con-fixed">
         <a class="btn">新增预约</a>
       </div> 
    </body>
</html>