<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
        <title>The ONE在线钢琴陪练</title>
    </head>
    <body>
        <script>
            document.documentElement.style.fontSize = window.innerWidth / 7.5 + 'px';
        </script>
        <div class="grey-bd">
          <div class="m-card">
          <h3 class="title">
            45分钟课程
          </h3>
          <div class="p-list">
            <i class="iconfont icon-icon02 warn"></i>&nbsp;&nbsp;2017‐3‐12 周日  14:00 ~ 14:45
          </div>
          <div class="p-list">
            <i class="iconfont icon-iconfontqupu warn"></i>&nbsp;&nbsp;陪练曲谱&nbsp;&nbsp;<span class="point">未上传</span>
          </div>
          <div class="p-list">
            <i class="iconfont icon-beizhu warn"></i>&nbsp;&nbsp;备注 <i class="iconfont icon-bianji" id="edit-remark"></i>
            <div class="p-list-sub">
              备注内容备注内容哦呵呵呵呵呵呵哦
            </div>
          </div>
          <div class="p-list">
            <i class="iconfont icon-laoshi warn"></i>&nbsp;&nbsp;大老师
          </div>
        </div>
        <div class="m-card">
          <h3 class="title">
            老师资料
          </h3>
          <div class="p-list">
            <div class="avatar f-fl">
              <img src="../img/avatar.jpg">
            </div>
            <div class="teacher-intro f-fl">
              <div class="intro-con">
                <div class="tea-name">
                  大老师
                </div>
                <div class="s-intro">
                  <i class="iconfont icon-icon star"></i>4.8
                </div>
                <div class="s-intro">
                  50次课
                </div>
              </div>
              <div class="intro-con">
                <div class="label btn-pul">
                  比较严厉
                </div>
                <div class="label btn-warn">
                  一
                </div>
                <div class="label btn-warn">
                  一个好人
                </div>
                <div class="label btn-warn">
                  一个好人
                </div>
                <div class="label btn-warn">
                  一好人
                </div>
                <div class="label btn-warn">
                  一个好人
                </div>
                <div class="label btn-warn">
                  一个好人
                </div>
                <div class="label btn-warn">
                  好人
                </div>
              </div>
            </div>
          </div>
          <div class="p-list">
            中国院教授，课堂风格比较严厉，但对学生的指导直达要点。blablabla，陪练效果广受好评。
          </div>
        </div>
        <div class="m-card">
          <h3 class="title">
            课程操作
          </h3>
          <div class="p-list btn-con">
            <a class="btn btn-warn">调课</a>
            <a class="btn btn-yel">请假</a>
          </div>
          <div class="p-list">
            提示：
            <ul>
              <li><span>本月剩余调课次数 3</span></li>
              <li><span>本月剩余请假次数 1</span></li>
              <li><span>调课须至少提前6小时发起，请假亦是如此</span></li>
              <a href="#">了解更多相关规则 ></a>
            </ul>
          </div>
        </div>
        <div class="m-card">
          <h3 class="title">
            <i class="iconfont icon-iconfontqupu warn"></i> 陪练曲谱 <i class="iconfont icon-bianji"></i>
          </h3>
          <div class="img-con">
            <div class="img-item">
              <img src="../img/banner.jpg">
              <span class="up-delete">X</span>
            </div>
            <div class="img-item iconfont up-delete">
              <img src="../img/avatar.jpg">
            </div>
            <div class="img-item iconfont">
              <img src="../img/avatar.jpg">
            </div>
          </div>
        </div>
        </div>
    </body>
</html>